*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
  /* Colors */
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-light-gray);
}

/*Styling*/
.container__components {
  display: flex;
  flex-direction: column;
  width: 327px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -28%);
  /* negative values move to the a) left and b)up */
}

.orange {
  background-color: var(--color-bright-orange);
  border-radius: 8px;
  position: relative;
  bottom: -20px;
}

.cyan {
  background-color: var(--color-dark-cyan);
  border-radius: 8px;
  position: relative;
  bottom: -10px;
}

.dark-cyan {
  background-color: var(--color-very-dark-cyan);
  border-radius: 0px 0px 8px 8px;
}

img {
  width: 64px;
  height: 40px;
  display: block;
  position: relative;
  left: 3.031rem;
  margin-top: 25px;
}

.heading {
  height: 3rem;
  font-family: 'Big Shoulders Display';
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  color: var(--color-light-gray);
  position: relative;
  left: 3.031rem;
  margin-top: 35px;
}

.text {
  font-family: 'Lexend Deca';
  font-size: 0.938rem;
  line-height: 1.563rem;
  width: 14.438rem;
  color: var(--color-transparent-white);
  opacity: 0.75;
  /* except the last one */
  position: relative;
  left: 2.969rem;
  margin-top: 25px;
}

.orange__learn,
.cyan__learn,
.dark-cyan__learn {
  border-radius: 20px;
  background-color: var(--color-light-gray);
  width: 9.125rem;
  height: 3rem;
  text-align: center;
  position: relative;
  left: 3.031rem;
  font-family: 'Lexend Deca';
  font-size: 15px;
  line-height: 1.563rem;
  margin-top: 25px;
  margin-bottom: 48px;
}

.orange__learn {
  color: var(--color-bright-orange);
}

.orange__button {
  position: relative;
  top: 0.7rem;
}

.orange__learn:hover {
  background-color: var(--color-light-orange);
  border: medium solid white;
  cursor: pointer;
  color: white;
}

.orange__button:hover {
  position: relative;
  top: 0.57rem;
  font-size: 15px;
}

.cyan__learn {
  color: var(--color-dark-cyan);
}

.cyan__button {
  position: relative;
  top: 0.7rem;
}

.cyan__learn:hover {
  background-color: var(--color-dark-cyan);
  border: medium solid white;
  cursor: pointer;
  color: white;
}

.cyan__button:hover {
  position: relative;
  top: 0.57rem;
  font-size: 15px;
}

.dark-cyan__learn {
  color: var(--color-very-dark-cyan);
}

.dark-cyan__button {
  position: relative;
  top: 0.7rem;
}

.dark-cyan__learn:hover {
  background-color: var(--color-light-orange);
  border: medium solid white;
  cursor: pointer;
  color: white;
}

.dark-cyan__button:hover {
  position: relative;
  top: 0.57rem;
  font-size: 15px;
}

#container__page {
  position: relative;
  min-height: 100vh;
}

#container__content {
  padding-bottom: 2.5rem; /* Footer height */
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 2.5rem; /* Footer height */
  font-weight: bold;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  .container__components {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 920px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* negative values move to the a) left and b)up */
  }

  .orange,
  .cyan,
  .dark-cyan {
    position: relative;
    bottom: 10px;
  }

  .cyan {
    right: 5px;
  }

  .dark-cyan {
    right: 10px;
  }

  .text {
    width: 70%;
  }

  .dark-cyan {
    border-radius: 8px;
  }

  .attribution {
    bottom: 0;
  }
}

@media screen and (max-height: 667px) {
  .container__components {
    transform: translate(-50%, -13%);
    /* negative values move to the a) left and b)up */
  }
}
